{% extends 'base.html' %}

{% block title %} {{author.author_name}} {% endblock %}
{% block content %}
<body id="authorpage">
<div >
<h3 id="autname">{{author.author_name}}</h3>
<img src="../../{{ author.image }}" id=authpic >
<br>
<input type="checkbox" id="followbutton">	
</div>
<div class="container" id="bio">
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Show Bio</button>
<div id="demo" class="collapse">
 <p>{{author.Bio}}</p>
</div>
<div class="popcontainer">
	<h2>Popular Books</h2>
<div class="hos">
	<a href=""><img src="../../static/imgs/cov2.jpg"></a>
</div>
<div class="hos">
	
	<a href=""><img src="../../static/imgs/cov1.jpg"></a>
</div>

</div>
{% endblock %}

