{% extends 'base.html' %}
<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/fontawesome.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	
<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
</head> -->
{% block title %} {{auther.auther_name}} {% endblock %}
{% block content %}
<body id="authorpage">
<div >
<h3 id="autname">George Martin</h3>
<img src="../../static/imgs/geo.png" id=authpic >
<br>
<input type="checkbox" id="followbutton">	
</div>
<div class="container" id="bio">
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Show Bio</button>
<div id="demo" class="collapse">
 <p>george martin one of the living legends famous for Game Of Thrones Novel and lot's of other masterpieces </p>
</div>
<div class="popcontainer">
	<h2>Popular Books</h2>
<div class="hos">
	<a href=""><img src="../../static/imgs/cov2.jpg"></a>
</div>
<div class="hos">
	
	<a href=""><img src="../../static/imgs/cov1.jpg"></a>
</div>

</div>
{% endblock %}

<!-- </body>
</html> -->