{% extends 'base.html' %}

<!-- <!DOCTYPE html> -->

<!-- <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../static/homestyle.css">
  

    
</head> -->

<!-- <body> -->
  {% block content %}
            <section class="sect"> 
             <h1>Read List</h1> 
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
              <div  class="row-md-4">
                <div  class="col-md-3">
                  <div id="firstThum" class="thumbnail">
                    <img id="img_id" src="img/mickey magazine 76 french cover 640.jpg" alt="...">
                    <div class="caption">
                      <h3 align="center">First Label</h3>
                      <p align="center">This is paragraph</p>
                      <p align="center"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div  class="row-md-4">
                <div  class="col-md-3">
                  <div id="secondThum" class="thumbnail">
                    <img id="img_id" src="img/the-50-coolest-book-covers-37.jpg" alt="...">
                    <div class="caption">
                      <h3 align="center">First Label</h3>
                      <p align="center">This is paragraph</p>
                      <p align="center"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div  class="row-md-4">
                  <div  class="col-md-3">
                    <div id="thirdThum" class="thumbnail">
                      <img id="img_id" src="img/9780399176517_dfd30.jpg" alt="...">
                      <div class="caption">
                        <h3 align="center">First Label</h3>
                        <p align="center">This is paragraph</p>
                        <p align="center"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </section>
              

            <section class="sect">
              <h1>Favourite Categories</h1>
              
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
              <div  class="row-md-4">
                <div  class="col-md-3">
                  <div id="firstThum" class="thumbnail">
                    <img id="img_id" src="img/9780143416319.jpg" alt="...">
                    <div class="caption">
                      <h3 align="center">First Label</h3>
                      <p align="center">This is paragraph</p>
                      <p align="center"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div  class="row-md-4">
                <div  class="col-md-3">
                  <div id="secondThum" class="thumbnail">
                    <img id="img_id" src="img/Yseultwall2.jpg" alt="...">
                    <div class="caption">
                      <h3 align="center">First Label</h3>
                      <p align="center">This is paragraph</p>
                      <p align="center"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div  class="row-md-4">
                  <div  class="col-md-3">
                    <div id="thirdThum" class="thumbnail">
                      <img id="img_id" src="img/underwaterdogs.jpg" alt="...">
                      <div class="caption">
                        <h3 align="center">First Label</h3>
                        <p align="center">This is paragraph</p>
                        <p align="center"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </section>

            <section class="sect">
                <h1>Wish List</h1>

                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
              <div  class="row-md-4">
                <div  class="col-md-3">
                  <div id="firstThum" class="thumbnail">
                    <img id="img_id" src="img/kurt_original_cover.jpg" alt="...">
                    <div class="caption">
                      <h3 align="center">First Label</h3>
                      <p align="center">This is paragraph</p>
                      <p align="center"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div  class="row-md-4">
                <div  class="col-md-3">
                  <div id="secondThum" class="thumbnail">
                    <img id="img_id" src="img/all-this-has-nothing-to-do-with-me-design-Justine-Anweiler-illustration-Daphne-van-den-Heuvel.jpg" alt="...">
                    <div class="caption">
                      <h3 align="center">First Label</h3>
                      <p align="center">This is paragraph</p>
                      <p align="center"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div  class="row-md-4">
                  <div  class="col-md-3">
                    <div id="thirdThum" class="thumbnail">
                      <img id="img_id" src="img/2swingtimecover.jpg" alt="...">
                      <div class="caption">
                        <h3 align="center">First Label</h3>
                        <p align="center">This is paragraph</p>
                        <p align="center"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      <img src="{{ image.url }}">
            
{% endblock %}

<!-- </body>
</html>

 -->