.cover {
height:105px;
width: 110px;
}

.navbar {
		  min-height: 100px;
		  background-color:#2F4F4F;
		  color: black; 
		  width: 100%;
		}

		.navbar-brand {
		  padding: 0 15px;
		  height: 80px;
		  line-height: 80px;
		}

		.navbar-toggle {
		  /* (80px - button height 34px) / 2 = 23px */
		  margin-top: 23px;
		  padding: 9px 10px ;
		}

		@media (min-width: 768px) {
		  .navbar-nav > li > a {
		    /* (80px - line-height of 27px) / 2 = 26.5px */
		    padding-top: 26.5px;
		    padding-bottom: 26.5px;
		    line-height: 27px;

		  }
		}
		.container-fluid{
			padding: 0 10px;
		  	height: 70px;
		  	line-height: 70px;
		}
		.carousel-inner{
			width: 75%;
			position: relative;
			left:180px;

		}
		#user_img{
			position: absolute;
			right:95px;
			top:10px;
		}
		#username{
			position: absolute;
			right:15px;
			top:40px;
		}
		#logo{
			position: relative;
			left:0px;
			height: 220px;
		}
	#authpic {
	position: absolute;
	top:300px;
	left:120px;
	height:200px;
	width: 280px;
	 border-radius: 30%;
	}
	/* Chrome, Safari, Opera */
@-webkit-keyframes follow-animation {
  from {background: white; color: #3399FF; width: 85px; left: 50px;}
  to {background: #2EB82E; border-color: #2EB82E; color: #ffffff; width: 120px; left: 35px;}
}
@-webkit-keyframes unfollow-animation {
  from {background: #2EB82E; color: #ffffff; width: 120px; left: 35px;}
  to {background: white; border-color: #3399FF; color: #3399FF; width: 85px; left: 50px;}
}

/* Standard syntax */
@keyframes follow-animation {
  from {background: white; color: #3399FF; width: 85px; left: 50px;}
  to {background: #2EB82E; border-color: #2EB82E; color: #ffffff; width: 120px; left: 35px;}
}
@keyframes unfollow-animation {
  from {background: #2EB82E; color: #ffffff; width: 120px; left: 35px;}
  to {background: white; border-color: #3399FF; color: #3399FF; width: 85px; left: 50px;}
}

input {
  -webkit-appearance: none;
}

input:after {
  color: #3399FF;
  font-family: "Helvetica";
  font-size: 10pt;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #3399FF;
  border-radius: 3px;
  position: absolute;
  top: 50px;
  left: 50px;	
  cursor: hand;
  display: inline-block;
  text-align: center;
  padding: 5px 15px;


  content: '+ Follow';
  -webkit-animation: unfollow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode:forwards;
  animation: unfollow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode:forwards;
}

input:checked:after {
  content: 'Following';
  -webkit-animation: follow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode:forwards;
  animation: follow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode:forwards;
}	

#followbutton {
position: absolute;
top:505px;
left:180px;
	}
#bio {
position:absolute;
top:390px;
left: 420px;
}

#autname {
position: absolute;
top:500px;
left: 180px;

}

#cardimg {
height: 200px;
width: 220px;
}

#card{
position: static;
top:500px:
left:400px
height:130px;
}

.cardimg {
height: 230px;
width: 250px;
}

#id{
	display: inline;
}

.bookcover{
height:120px;
width:120px;
}
.popcontainer {
	position: static;
	top:-90px;
	left: 420px;

}
.hos{
	display:inline;
	width: 400px;
	height: 800px;
	overflow: hidden;
}

.hos img{
	height: 150px;
	width: 200px;
	overflow: hidden;


}
 #import_id{
        width: 100%;
        height: 322px;
    }